<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="intial-investment">Intial Investment</label>
      <input
        id="intial-investment"
        name="intial-investment"
        type="number"
        [(ngModel)]="enteredIntialInvestment"
      />
      <!-- No need to change here beacuase ngModel is built such that it can infer signals too. -->
    </p>
    <p>
      <label for="annual-investment">Annual Investment</label>
      <input
        id="annual-investment"
        name="annual-investment"
        type="number"
        [(ngModel)]="enteredAnnualInvestment"
      />
      <!-- No need to change here beacuase ngModel is built such that it can infer signals too. -->
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input
        id="expected-return"
        name="expected-return"
        type="number"
        [(ngModel)]="enteredExpectedReturn"
      />
      <!-- No need to change here beacuase ngModel is built such that it can infer signals too. -->
    </p>
    <p>
      <label for="duration">Duration</label>
      <input
        id="duration"
        name="duration"
        type="number"
        [(ngModel)]="enteredDuration"
      />
      <!-- No need to change here beacuase ngModel is built such that it can infer signals too. -->
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
